@use "../Utils/variables" as var;
@use "../Utils/function" as func;

// hide the elements and make screen-reader only
// read the content of the element
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  font: inherit;
  color: inherit;
}
